@cellSz: 20px;

.minesweeper-wrap {
  &.st-victorious {
    background-color: green;
  }

  &.st-dead {
    background-color: red;
  }

  .minesweeper {
    .row {
      display: flex;
      height: @cellSz;

      .cell {
        box-sizing: border-box;
        width: @cellSz;
        height: @cellSz;
        text-align: center;

        span {
          height: @cellSz;
          vertical-align: middle;
        }

        &.revealed {
          background-color: #fcfcfc;
          border: 1px solid #dddddd;
        }

        &.hidden {
          background-color: #eeeeee;
          border: 1px solid #999999;

          &.flagged {
            background-color: red;
          }
        }
      }
    }
  }
}

